---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Japanese Web</title>
  </head>
  <body>
    <div
      class="bg-[url('public/images/Header.jpg')] bg-cover bg-no-repeat aspect-video"
    >
      <section class="h-screen">
        <header class="">
          <nav class="w-96 m-auto border-b pb-4">
            <ul class="font-junge flex justify-center gap-4 pt-8 text-white">
              <li><a href="/">Home</a></li>
              <li><a href="/about">About 2023</a></li>
              <li><a href="/blog">Blog</a></li>
            </ul>
          </nav>
        </header>
        <div class="container mt-96">
          <h1
            class="font-junge text-center m-auto text-9xl lg:text-[15rem] text-white"
          >
            Japan
          </h1>
        </div>
      </section>
    </div>
    <main class="">
      <div
        class="bg-[url('public/images/japan1.jpg')] bg-cover w-full h-screen flex flex-col"
      >
        <nav class="w-96 mr-auto pb-4 px-52">
          <ul class="font-conforta flex justify-center gap-4 pt-8 text-white">
            <li class="hover:border-b hover:text-yellow-400">
              <a href="/">Home</a>
            </li>
            <li class="hover:border-b hover:text-yellow-400">
              <a href="/about">About</a>
            </li>
            <li class="hover:border-b hover:text-yellow-400">
              <a href="/countries">Countries</a>
            </li>
            <li class="hover:border-b hover:text-yellow-400">
              <a href="/art">Art</a>
            </li>
            <li class="hover:border-b hover:text-yellow-400">
              <a href="/contact">Contact</a>
            </li>
          </ul>
        </nav>
        <div class="mt-72">
          <div class="container text-center mx-auto w-96 h-96">
            <p class="text-white">日本</p>
            <h2 class="font-junge text-center text-8xl pb-10 text-white">
              Japan
            </h2>
            <p class="text-white text-xl text-center font-conforta pb-4">
              Japan is a country locadet in East Asia. It is one of the most
              developed countries in the world with a unique culture and
              traditions.
            </p>
            <button class="border p-2 text-white font-conforta"> MORE</button>
          </div>
        </div>
      </div>
      <div
        class="bg-[url('public/images/Header.jpg')] bg-cover w-full h-screen flex flex-col items-center justify-center"
      >
        <div class="container text-center mx-auto w-96 h-96">
          <h2 class="font-junge text-center text-4xl pb-10 text-white">
            Beatiful places
          </h2>
          <p class="text-white text-xl text-center font-conforta pb-4">
            Japan is also know for its beautiful places such as Mount Fuji,
            Fushimi Inari Shrine and Tokyo Disneyland. These places attract
            millions of tourists every year and are the main attractions of the
            country.
          </p>
        </div>
      </div>
      <div class="bg-black w-full h-screen">
        <div class="container bg-black p-8 m-auto">
          <div
            class="grid grid-cols-1 lg:grid-cols-5 gap-y-8 lg:gap-8 font-conforta text-white text-xl"
          >
            <div
              class="h-96 lg:col-span-3 bg-[url(public/images/fuji-san.jpg)] bg-cover"
            >
              <p class="px-5 pt-80">Fuji-san</p>
            </div>
            <div
              class="h-96 lg:col-span-2 bg-[url(public/images/hakone.jpg)] bg-cover"
            >
              <p class="px-5 pt-80">Hakone</p>
            </div>
            <div
              class="h-96 lg:col-span-2 bg-[url(public/images/tokio.jpg)] bg-cover"
            >
              <p class="px-5 pt-80">Tokyo</p>
            </div>
            <div
              class="h-96 lg:col-span-3 bg-[url(public/images/kyoto.jpg)] bg-cover"
            >
              <p class="px-5 pt-80">Kyoto</p>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Junge&display=swap");
  </style>
</html>
